*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.header{
    background-color: aqua ;
    padding: 20px;
}
.content{
    background-color: lightskyblue;
    height: 600px;
    padding: 20px;
    text-align: center;
    width: 70%;
    float: left;
}
.aside{
    background-color: lightsalmon;
    padding: 20px;
    height: 600px;
    width: 30%;
    float: right;
}
.section-2{
    margin-top: 10px;
}
.box{
    background: yellow;
    padding: 20px;
    height: 150px;
    width: calc(25% - 7.6px);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.box:nth-child(4){
    margin-right: 0;
}
.footer{
    background-color: lightgreen;
    padding: 20px;
}
.clear-both{
    clear: both;
}

@media screen and (max-width: 768px) {
    .content, .aside {
        width: 100%;
        float: none;
    }
    .box {
        width: calc(50% - 7.6px);
    }
    .box:nth-child(2) {
        margin-right: 0;
    }
}
@media screen and (max-width: 480px) {
    .content, .aside {
        width: 100%;
        float: none;
    }
    .box {
        width: 100%;
        margin-right: 0;
    }
}